html,
body {
  width: 100%;
  height: 100%;
}
html {
  display: table;
}
body {
  color: #ebdbb2;
  background: #282828;
  font-family: 'Roboto Slab', serif;
}
body.front {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.front-title {
  font-size: 3.3em;
  color: #fb4934;
}
.front-contact {
  font-size: 0.7em;
}
.front-contact a {
  text-decoration: none;
  color: #504945;
}
.front-contact a:hover {
  text-decoration: underline;
}
